.loginForm {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputGroup {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.inputField {
    width: 100%;
    height: 100%;
    padding: 8px;
    border: 2px solid rgba(139, 69, 19, 0.6);
    border-radius: 10px;
    font-size: 1rem;
    color: #333;
    background-color: #f5f0e6;
    transition: border-color 0.3s;
    font-weight: 700;
    border: none;
    outline: none;
}

.inputField:focus {
    border-color: #8b4513;
    outline: none;
}

.errorText {
    color: #ff4d4d;
    font-size: 0.9rem;
    margin-top: 5px;
}

.buttons{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.submitButton {
    padding: 10px 20px;
    background-color: #874719;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px burlywood solid;
    transition: background-color 0.3s, transform 0.2s;
}

.submitButton:hover {
    background-color: #b96927;
    transform: translateY(-2px);
}